/* style.css */

h1 {
  font-size: 60px;
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

#upload-container {
    margin: 10px auto;
    text-align: center;
	font-size: 15px;
}

#video-preview {
    max-width: 100%;
    margin-top: 35px;
}
